name: Update CDN Libs
on:
  # 1. 每天北京时间早上 8 点检查一次 (只有带 ^ 的会自动更新)
  schedule:
    - cron: '0 0 * * *'
  # 2. 当你修改 package.json 或 build.js 时立即触发
  push:
    paths: ['package.json', 'build.js']
  # 3. 允许你手动点击运行
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install & Build
        # 这里只运行 install，严格遵守 package.json 的锁
        run: |
          npm install
          node build.js

      - name: Save Changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "Update: process new libraries"
          # 仅提交生成的库文件和目录账本
          file_pattern: 'libs/* catalog.json'
